.bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}
@media screen and (max-width:999.98px) {
    .wrapper {
        width: 90%;
    }
}